*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*header section css*/
.nav{
    display: flex;
    justify-content: space-between;
    padding:20px 100px ;
}
.logo{
    
}
.logo-img{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.logo-img img{
    width: 70px;
    height: 30px;
    
    
    
}
h3{
    font-size: 20px;
    font-weight: 700;
}
h3 .logo-text-title{
    color: #FF42A5;
}
.nav-item{
    
}
.nav-title{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 20px;
}
ul{
    
}
ul li{
    display: inline-block;
    padding: 0px 10px;
    
}
ul li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}
ul li i{
    color: red;
    gap: 5px;
    margin-left:5px ;
}

/*banner section css*/
.banner-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
    background-image: url("../images/Group\ 14.png");
    background-position: top letf ;
    background-repeat: no-repeat;
    background-size: 600px 800px;
}
.banner-text{
    
}
.banner-text h2{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}
.banner-text h1{
font-size: 50px;
font-weight: 800;
color: #F948B2;
}
.banner-text li{
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.primary-btn{
    background:  #F948B2;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
}
.secondary-btn{
    background:  #F948B2;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    background: #4EC5F7;
}
.banner-img{
}
.banner-img img{
    width: 600px;
}
/*game section css*/
.online-game-section{
    margin: 50px 100px;
}
.game-header-title{
    text-align: center;


}
.game-header-style{
    color: #F948B2;
}
.game-header-title h3{
    color: #0B0223;
    font-size: 38px;
    font-weight: 700;
    
}
.game-header-title p{
    padding-top: 0;
    margin-bottom: 40px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;

}
.games{
    display: flex;
    gap: 10px;
}
.games-items{}
.games-items img{
    width: 242px;
}
.games-items .game-description{
    width: 257px;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;

}
/*play section css*/
.game-play-section{
    display: flex;
    align-items: center;
    margin: 50px 100px;
    justify-content: space-between;
}
.game-text{
    text-align: right;
    width: 300px;
    display: block;
}
.game-text span{
    color: #F948B2;
    /* font-size: 2.5rem; */
    font-weight: 700;
}
.game-text h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 0px ;
    margin-top: 0px;


}
.game-text p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.play-img{}
.play-img img{ width: 100%;}

/* games css*/
.games-name{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 100px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.games-items-name{
    display: flex;
    column-gap: 5px;
    
    
}
.games-items-name img{}
.games-items-name p{
    color: #0B0223;
    font-weight: 500;
    font-size: 15px;
    

}
.games-name > :hover {
    cursor: pointer;
    border: 2px solid  #F948B2;
    border-radius: 30px;
    color: #F948B2;
    padding: 10px 10px;

}
.games-items-name p:hover{
    color: #F948B2;
}

/*footer section css*/
.footer-logo{
   justify-content: center;
    display: flex;
}
.footer{
    text-align: center;
    background: #0B0223;
    padding: 50px 0px;
    margin: 0px;
}
.store{
    display: flex;
    justify-content: center;
}
.store li{
    list-style: none;
    margin: 40px 20px;
    color: #FFF;;
}
.social-icon{
    color: #FFF;
   
}
.social-icon i{
    padding:0px 20px;
}
h5{
    color: rgba(255, 255, 255, 0.60);
}